:root{
    --cor-principal: #00c073;  
    --cor-principal-hover: #008f56;
    --cor-secundaria: black;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor-secundaria);
    color: #ffffff;
}

header{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}
header h2 {
    color: var(--cor-principal);
}
nav{
    margin: auto 0;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-principal);
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}
a:hover{
    background-color: var(--cor-principal-hover);

}
main{
    padding: 20px;
}
.minha-experiencia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
}
.minha-experiencia h1 {
    grid-column: 1 / 3;
}
.minha-experiencia p{
    padding: 20px 0;
    font-size: 20px;
    margin: 0;
    text-align: justify;
}